.pretty {
	/* line-height: 1; */
}

.pretty label {
	display: flex;
    align-items: center;
}

.pretty>input {
	position: absolute;
	opacity: 0;
}

.pretty i {
	font-size: 1em!important;
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 0.5em;
	width: 1.2rem;
	height: 1.2rem;
}

.pretty i:before {
	width: 1.2rem;
	height: 1.2rem;
	display: inline-block;
	color: transparent;
	min-width: 1em;
	content: '\0000';
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.pretty i:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
	content: '\0000';
	color: transparent;
	border: #ccc 1px solid;
}

.pretty>input:checked+label i:before {
	background-color: #009dff;
}

.pretty>input[type='radio']+label i:after, .pretty>input[type='radio']+label i:before {
	border-radius: 100px;
}

.pretty i.default:after, .pretty i.default:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}