

* {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei;
	color: rgb(76, 76, 76);
}

.defaultSubject { background-color: #EFEFEF; }
.defaultSubject hr { background-color: #53A4F4!important; }
.defaultSubject .sub_btn { background: #009DFF!important; }
.defaultSubject .sub_btn:hover { background: #3eb7ff!important; }

.graySubject { background: url(../../static/image/pbg1.jpg) no-repeat; }
.graySubject hr { background: rgb(180, 180, 180)!important; }
.graySubject .sub_btn { background: rgb(180, 180, 180)!important; }
.graySubject .sub_btn:hover { background: rgb(210, 210, 210)!important; }
.graySubject .header {background: #eee!important;}

.redSubject { background: url(../../static/image/pbg2.jpg) no-repeat; }
.redSubject hr { background: rgb(238, 89, 100)!important; }
.redSubject .sub_btn { background: rgb(238, 89, 100)!important; }
.redSubject .sub_btn:hover { background: rgb(238, 158, 155)!important; }

.blackSubject { background: url(../../static/image/pbg3.jpg) no-repeat; }
.blackSubject hr { background: rgb(70, 70, 70)!important; }
.blackSubject .sub_btn {  background: rgb(70, 70, 70)!important; }
.blackSubject .sub_btn:hover { background: rgb(128, 128, 128)!important; }


.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-y: scroll;
	background-position: center top;
	background-size: 100% auto!important;
}

.bg .header {
	width: 60%;
	height: 7%;
	background: #fdf9cd;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
}

.bg .header .content {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.bg .header .content span {
	color: gray;
}

.bg .header .content .tool {
	float: right;
	display: block;
}

.bg .header .content .tool div {
	float: left;
	color: rgb(28, 101, 139);
	font-size: 13px;
	margin-left: 20px;
	cursor: pointer;
	margin-top: 1px;
}

.bg .header .content .tool div i {
	width: 20px;
	height: 20px;
	background: url(../../static/image/word.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.bg .header .content .tool div j {
	width: 20px;
	height: 20px;
	background: url(../../static/image/phone.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.bg .header .content .tool a {
	background-image: url(../../static/image/qrcode.png);
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	margin-left: 20px;
}

.bg .qrcode {
	width: 150px;
	display: none;
}

.bg .qrcode span {
	margin-top: 20px;
	display: block;
	color: gray;
	font-weight: bold;
	font-size: 13px;
}

.bg > .content {
	position: relative;
	background-color: #fff;
	width: 60%;
	min-height: 100%;
	margin-top: 2%;
	margin-bottom: 3%;
	border-radius: 4px;
	border: #EBEBEB 1px solid;
	padding: 40px;
	padding-bottom: 130px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
}

.bg > .content h1 {
	text-align: center;
    font-weight: 500;
    word-break: break-all;
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bg > .content .desc {
	margin: 20px;
	word-break: break-all;
}

.bg > .content hr {
	/* background-color: #53A4F4; */
	height: 3px;
	border: none;
	margin: 20px;
}

.bg > .content .question {
	/* font-size: 18px; */
	margin: 20px;
	word-break: break-all;
}

.bg > .content .option {
	/* font-size: 18px; */
	margin-left: 40px;
	margin-bottom: 5px;
	display: block;
}

.option input {
	cursor: pointer;
	vertical-align: top;
    margin-top: 6px;
    margin-right: 3px;
}

.option label {
	cursor: pointer;
	word-break: break-all;
	margin-right: 20px;
	max-width: 95%;
	display: inline-block;
}

.bg > .content textarea {
	left: 50%;
	padding: 10px;
	transform: translateX(-50%);
	margin-bottom: 5px;
	width: 93%;
	height: 15%;
	resize: none;
	position: relative;
	border: #ccc 1px solid;
	border-radius: 4px;
	outline: none;
}

.sub_btn {
	color: #fff;
	font-size: 15px;
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	right: 40px;
	bottom: 40px;
	position: fixed;
}



.footer {
	text-align: center;
	margin-bottom: 3%;
	margin-top: 8%;
}

.bg .content .over {
	text-align: center;
	height: 50px;
	line-height: 50px;
	display: none;
	top: 50%;
	position: relative;
}

.bg .content .over i {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-image: url(../image/icon_checked.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 10px;
}

.bg .content .over span {
	vertical-align: middle;
	font-size: 25px;
	color: gray;
}

.progress {
	position: fixed;
	top: 0;
	width: 100%;
	height: 20px;
	background: rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.progress div {
	width: 0%;
	height: 20px;
	line-height: 20px;
	background: rgba(0, 157, 255, 0.7);
	text-align: center;
	color: #fff;
	box-shadow: 0px 0px 14px #009dff;
}

.tip {
	display: none;
}

.report {
	position: absolute;	
	right: 20%;
	text-decoration: none;
	font-size: 15px;
	color: #aaa;
}

.cover {
	display: none;	
}